{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-1 text-center">{{pet.name}}</h1>

    <div class="row justify-content-center">

        <img class="img-fluid" src="{{pet.photo_url}}" alt="{{pet.name}}" height="500">

        {% if pet.available %}
        <p class="alert-success text-center mt-3">Available</p>
        {% else %}
        <p class="alert-danger text-center mt-3">Not available</p>
        {% endif %}
        </p>

        <h2>Notes</h2>
        {% if pet.notes %}

        <p>{{pet.notes}}</p>

        {% else %}

        <p>No notes to show.</p>

        {% endif %}

        <h2>Edit {{pet.name}}</h2>
        <form action="/{{pet.id}}" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form 
                if field.widget.input_type != 'hidden' %}
            
            <div class="form-group">
                {% if field.label.text != 'Toggle Availablility (leave unchecked for no change)' %}
                {{ field.label }}
                {{ field(class_="form-control") }}
                {% else %}
                {{ field.label(class_="form-check-label") }}
                {{ field(class_="form-check-input") }}
                {% endif %}

                {% for err in field.errors %}
                <small class="form-text">
                    {{err}}
                </small>    
                {% endfor %}
            </p>

            {% endfor %}

            <button class="btn btn-primary" type="submit">Submit Changes</button>

        </form>
        
    </div>

</div>


{% endblock %}