{% extends 'base.html' %}

{% block content %}

{% for msg in get_flashed_messages() %}
<p class="alert-success">{{msg}}</p>
{% endfor %}

{% if pets %}
<h1></h1>
<ul>
    {% for pet in pets %}
    <li>
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" alt="{{pet.species}} {{pet.name}}" height=200 width=html>
        {% endif %}
        <p><a href="/{{pet.id}}">{{pet.name}}</a> is{% if not pet.available %} not{% endif %} available!</p>
    </li>
    {% endfor %}
</ul>

{% else %}

<p>There are currently no pets to show.</p>

{% endif %}

<a class="btn btn-primary" href="/add">Add Pet</a>

{% endblock %}